# =========================
# Java / Spring Boot
# =========================
/target/
/build/
/out/
/.gradle/
/mvnw.cmd
/mvnw
/.mvn/
!src/main/**/target/

# =========================
# IntelliJ / Eclipse / VSCode
# =========================
/.idea/
/.vscode/
/.project
/.classpath
/.settings/

# =========================
# Node / Angular
# =========================
node_modules/
/dist/
/coverage/
/.npm
/.angular/cache

# =========================
# Logs
# =========================
*.log
*.out
*.err

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
/docker-compose.override.yml
*.env
